@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-feature-settings: "pnum" on,"lnum" on;
}
#block-pass-login{
  width: 285px;
  height: auto;
  border: 1px solid #E5E5E5;
  background-color: #F2F2F2;
  margin: 100px auto;
}
#pass-login {
    margin: 0;
    padding: 0;
    list-style: none;
}
#pass-login li{
   margin-top: 10px; 
}
#pass-login label{
    font-family: 'Raleway', sans-serif;
   position: absolute;
   margin-top: 4px;
   margin-left: 10px;
}
#pass-login input{
   width: 200px;
   font-family: 'Raleway', sans-serif;
   height: 24px;
   margin-left: 75px;
   border: 1px solid #D6D6D6;
   font: 17px sans-serif;
   outline: none;
}
#submit_enter{
    font-family: 'Raleway', sans-serif;
   border: 1px solid #D6D6D6;
   background-color: white;
   margin-right: 10px; 
   padding: 4px 6px;
   cursor: pointer;
}
#submit_enter:hover{
   border: 1px solid #B4B4B4;
}
#msgerror{
    font: 14px sans-serif;
    color: red;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FDE5E0;
    border: 1px solid #FDCDC3;
    margin-top: 0;
}

.title-login {
    text-align: center;
    font-weight: 600;
}
